.home-container{
    background-color: bisque;
    padding : 10% 10% 10% 10%;
    /* padding-right : 100px; */
    height: 100%;
    
}
.icon{
    height: 70%;
    width : 70%;
    border-radius: 20%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 60%;
}
.head{
    align-items: flex-start;
    padding-top: 10%;
    
}